<div>
     <!-- 面包屑导航 -->
     <el-breadcrumb class="crumbs" separator-class="el-icon-arrow-right" >
        <el-breadcrumb-item :to="{ path: '/Home' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>权限管理</el-breadcrumb-item>
        <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      </el-breadcrumb>
    <el-table
    :data="rolesList"
    style="width: 100%" >
    <el-table-column type="expand">
      <template slot-scope="scope">
        <el-row v-for='level1 in scope.row.children' :key='level1.id' class="level1">
          <el-col :span='4'>
              <el-tag closable> {{level1.authName}}</el-tag>
              <i class="el-icon-arrow-right"></i>
          </el-col>
          <el-col :span='20'>
            <el-row v-for='level2 in level1.children' :key='level2.id' class="level2">
              <el-col :span='4'>
                  <el-tag type="success" closable>{{level2.authName}}</el-tag>
                  <i class="el-icon-arrow-right"></i>
              </el-col>
              <el-col :span='20'>
                <el-tag type="warning"  v-for='level3 in level2.children' :key='level3.id'  class="level3" closable>
                    {{level3.authName}}
                </el-tag>
              </el-col>
            </el-row>
          </el-col>
        </el-row>

      </template>
    </el-table-column>
    <el-table-column
    type="index"
    width="50">
  </el-table-column>
    <el-table-column
      prop="roleName"
      label="角色名称"
      width="180">
    </el-table-column>
    <el-table-column
      prop="roleDesc"
      label="描述"
      width="180">
    </el-table-column>
    <el-table-column
      label="操作">
      <template slot-scope='scope'>
          <el-button type="primary" size='mini' plain icon="el-icon-edit" @click='isShowEditRoleList(scope.row)'></el-button>
          <el-button type="danger" size='mini' plain icon="el-icon-delete" @click='isShowRoleList'></el-button>
          <el-button type="success" size='mini' plain icon="el-icon-check">分配权限</el-button>
      </template>
    </el-table-column>
  </el-table>

  <el-dialog title="角色编辑" :visible.sync="isShowEditDialog">
    <el-form :model="EdmiRole" label-width='80px'>
      <!-- <el-form-item >
          <el-tag type="info">{{EdmiRole.name}}</el-tag>
      </el-form-item> -->
      <el-form-item label="角色名称" >
        <el-input v-model="EdmiRole.roleName"></el-input>
      </el-form-item>
      <el-form-item label="描述" >
        <el-input v-model="EdmiRole.roleDesc"></el-input>
      </el-form-item>

    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="isShowEditDialog = false">取 消</el-button>
      <el-button type="primary" @click="RoleEditDialog">确 定</el-button>
    </div>
  </el-dialog>
</div>
