<div>
    
  <!-- 面包屑导航 -->
  <el-breadcrumb class="crumbs" separator-class="el-icon-arrow-right" >
      <el-breadcrumb-item :to="{ path: '/Home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
    </el-breadcrumb>
  <!-- 搜索 -->
  <el-row :gutter="20">
  <el-col :span="8">
    <el-input placeholder="请输入内容" v-model="searchText" class="input-with-select">
      <el-button slot="append" icon="el-icon-search" @click='search'></el-button>
    </el-input>
  </el-col>
  <el-col :span="4">
      <el-button type="success" plain @click='showUserAddDialog'>添加用户</el-button>
  </el-col>
</el-row>
    <!-- 表格-->
  <el-table
:data="usersList"
style="width: 100%">
<el-table-column
  prop="username"
  label="姓名"
  width="180">
</el-table-column>
<el-table-column
  prop="email"
  label="邮箱"
  width="180">
</el-table-column>
<el-table-column
  prop="mobile"
  label="电话">
</el-table-column>
<el-table-column
  prop="mg_state"
  label="用户状态">

<template slot-scope='scope'>
  <el-switch v-model='scope.row.mg_state' @change='changeUserState(scope.row)'></el-switch>
</template>
  
</el-table-column>
<el-table-column
  label="操作">
  <template slot-scope='scope'>
  <el-button type="primary" plain size='mini'><i class="el-icon-edit"></i></el-button>
  <el-button type="danger" plain size='mini'  @click="delUser(scope.row.id)"><i class="el-icon-delete"></i></el-button>
  <el-button type="success" plain size='mini'><i class="el-icon-check">分配角色</i></el-button>
</template>
</el-table-column>
</el-table>
<!-- 分页 -->
<el-pagination
  background
  layout="prev, pager, next"
  :total="total"
  :page-size='pageSize'
  :current-page="pagenum"
  @current-change='changePage'>
</el-pagination>

<el-dialog title="添加用户" :visible.sync="isShowUserAddDialog">
    <el-form :model="userAddForm" label-width="100px" :rules="userAddRules">
      <el-form-item label="用户名" prop="username">
        <el-input v-model="userAddForm.username"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input v-model="userAddForm.password"></el-input>
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input v-model="userAddForm.email"></el-input>
      </el-form-item>
      <el-form-item label="手机" prop="mobile">
        <el-input v-model="userAddForm.mobile"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="isShowUserAddDialog = false">取 消</el-button>
      <el-button type="primary" @click="addUser">确 定</el-button>
    </div>
  </el-dialog>

</div>
