<div>
  <el-table
  :data="cateList"
  stripe
  style="width: 100%">
  <el-table-column
    prop="cat_name"
    label="分类名称"
    width="180">
  </el-table-column>
  <el-table-column
    prop="cat_deleted"
    label="是否有效"
    width="180">
    <template slot-scope='scope'>
      {{scope.row.cat_deleted===false?'是':'否'}}
    </template>
  </el-table-column>
  <el-table-column
    prop="cat_level"
    label="层级">
  </el-table-column>
  <el-table-column
    label="操作">
    <template slot-scope="scope">
      <el-button
        size="mini"
        type="primary"
        plain
        icon="el-icon-edit"
      ></el-button>
      <el-button
        size="mini"
        type="danger"
        plain
        icon="el-icon-delete"
      ></el-button>
    </template>
  </el-table-column>
</el-table>
<el-pagination
  background
  layout="prev, pager, next"
  :total="total"
  :current-page="pagenum"
  @current-change="changePage"
    >
</el-pagination>
</div>
